@charset "utf-8";

/* ---------- GENERAL ---------- */

li.active {
    background-color: #337ab7;
}
li.active :hover{
    background-color: #045FB4 !important;
}

li.active span{
    color: #fff;
}

li.active span :hover{
    color: #fff;
}

.dropdown {
    background-color: #DEDFE1;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


.banner {
    /*background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%);*/  
    background: -webkit-radial-gradient(center, ellipse cover,  #337ab7  1%, #265a88 100%);  
}
.contenidoLabels{
    text-align: center;
    font-weight: bold;
    padding-top: 2%;  
    background: #EFF5FB;
    color: #000;
    padding-bottom: 0.5%;
}

.firstGroup {
    margin-top:  1% !important;
}

.contenidotabla{
    font-weight: bold;
    padding-top: 2%;  
    background: #EFF5FB;
}

.contenidoSelects {
    padding-bottom: 2%;
    background: #EFF5FB;
}
.contenido {
    padding: 2%;
}

* {
    box-sizing: border-box;
    margin:0px auto;

    &:before,
        &:after {
        box-sizing: border-box;
    }
}

.vista {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

#divError {
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-align: left; margin-left: auto; margin-bottom: auto; margin-top: auto;
    background: #E6E6E6 url(img/error2.png) no-repeat 980px 51px;
}

th {
    background-color: #337ab7 !important;
    color: white;
} 

body {   
    color: #606468;
    font: 87.5%/4.5em 'Open Sans', sans-serif;
    margin: 0;
}

colspan {
    text-align: center;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

.clearfix {
    *zoom: 1;

    &:before,
        &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }

}

.container {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modalModificar {
    width: 80% !important;
}

/* ---------- LOGIN ---------- */

#login form{
    width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
    border-right:1px solid #fff;
    padding: 0px 22px;
    width: 59%;
}
.logo{
    color:#fff;
    font-size:50px;
    line-height: 125px;
}

.banner img {
    display: block;
    width: 19%;
    height: auto;
}

.bienvenida {
    padding-top: 0.4%;
    padding-left: 1%;
    color:#fff;
}

div img {    
    width: 100%;
    height: auto;    
    padding-bottom: 1%;
}

/* ---------- LOGIN ---------- */

div.clearfix img {
    padding-left: 6%;
}

#login form span.fa {
    background-color: #fff;
    border-radius: 3px 0px 0px 3px;
    color: #000;
    display: block;
    float: left;
    height: 50px;
    font-size:24px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login form input {
    height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"] {
    background-color: #fff;
    border-radius: 0px 3px 3px 0px;
    color: #000;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 200px;
}

#login form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    /* margin-bottom: 2em; */
    text-transform: uppercase;
    padding: 5px 10px;
    height: 30px;
}

#login form input[type="submit"]:hover {
    background-color: #848484;
    color: #000;
}

#login > p {
    text-align: center;
}

#login > p span {
    padding-left: 5px;
}
.middle {
    display: flex;
    width: 600px;
}

div.main{
    background: #0264d6; /* Old browsers */
    background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */  
    height:calc(100vh);
    width:100%;
}

#tabla {
    padding-top: 20%;
}

.combo-group > * {
    margin-left: 0.5%;    
}